*{
	margin: 0px;
	padding: 0px;
}

.header{
	width: 100%;
	height: auto;
	background-color: grey;
	display: flex;
	justify-content: center;
}

.container{
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 25%;
	height: 70px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	line-height: 70px;
	color: white;
}

.navigation{
	height: 50px;
	width: 40%;
	
}

.nav-bar{
	display: flex;
}

.nav-link{
	list-style-type: none;
	color: white;
	height: 50px;
	width: 20%;
	text-align: center;
	line-height: 70px;
	font-family: sans-serif;
	font-size: 17px;
}

.image{
	margin: 40px;
	display:flex;
	justify-content: center;
}

.image1, .image2{
	display: flex;
	width: 40%;
	height: auto;
}



@media (max-width: 480px) {

	.container{
		flex-direction: column;
		width: 95%;
	}

	.logo{
		width: 100%;
		text-align: left;
	}

	.navigation{
		width: 100%;
		height: auto;
	}

	.nav-bar{
		flex-direction: column;
	}

	.nav-link{
		width: 100%;
		text-align: left;
	}

	.image{
		flex-direction: column;
		width: 95%;
	}

	.image1{
		width: 100%;
		margin-bottom: 20px;
	}

}